@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
@import "../styles/variables";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  background-color: $color-gray-900;
}

body,
input,
button,
select,
textarea {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
}

@mixin selection {
  background-color: $color-primary-300;
  color: $color-gray-900;
}

::-moz-selection {
  @include selection();
}

::selection {
  @include selection();
}
