:root {
  --footer-height: 200px;
  --nav-height: 5rem;
}

$main-border-radius: 4px;

$color-primary-50: rgba(234, 247, 236, 1);
$color-primary-100: rgba(234, 247, 236, 1);
$color-primary-200: rgba(215, 241, 221, 1);
$color-primary-300: rgba(181, 217, 194, 1);
$color-primary-400: rgba(143, 180, 160, 1);
$color-primary-500: rgba(96, 132, 117, 1);
$color-primary-600: rgba(74, 113, 101, 1);
$color-primary-700: rgba(55, 94, 86, 1);
$color-primary-800: rgba(40, 76, 73, 1);
$color-primary-900: rgba(29, 61, 62, 1);
$color-secondary-50: rgba(254, 243, 243, 1);
$color-secondary-100: rgba(249, 193, 195, 1);
$color-secondary-200: rgba(244, 136, 152, 1);
$color-secondary-300: rgba(225, 80, 114, 1);
$color-secondary-400: rgba(197, 45, 93, 1);
$color-secondary-500: rgba(160, 0, 67, 1);
$color-secondary-600: rgba(135, 0, 69, 1);
$color-secondary-700: rgba(110, 0, 70, 1);
$color-secondary-800: rgba(87, 1, 64, 1);
$color-secondary-900: rgba(71, 1, 61, 1);
