:root {
  --footer-height: 200px;
  --nav-height: 5rem;
}

$main-border-radius: 4px;

$color-primary-50: rgba(243, 248, 254, 1);
$color-primary-100: rgba(206, 226, 247, 1);
$color-primary-200: rgba(162, 196, 240, 1);
$color-primary-300: rgba(112, 151, 212, 1);
$color-primary-400: rgba(72, 108, 171, 1);
$color-primary-500: rgba(32, 60, 119, 1);
$color-primary-600: rgba(25, 46, 100, 1);
$color-primary-700: rgba(19, 34, 83, 1);
$color-primary-800: rgba(14, 25, 66, 1);
$color-primary-900: rgba(10, 19, 54, 1);
$color-secondary-50: rgba(254, 243, 243, 1);
$color-secondary-100: rgba(249, 193, 195, 1);
$color-secondary-200: rgba(244, 136, 152, 1);
$color-secondary-300: rgba(225, 80, 114, 1);
$color-secondary-400: rgba(197, 45, 93, 1);
$color-secondary-500: rgba(160, 0, 67, 1);
$color-secondary-600: rgba(135, 0, 69, 1);
$color-secondary-700: rgba(110, 0, 70, 1);
$color-secondary-800: rgba(87, 1, 64, 1);
$color-secondary-900: rgba(71, 1, 61, 1);
