.aboveTheFold {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  min-height: 100vh;

  h2 {
    max-width: 12em;
    margin: 0;
  }

  p {
    max-width: 20em;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
