.valuePropositions {
  display: grid;
  // Grid Template Columns is specified in js
  gap: 5%;
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    display: block;
    text-align: center;
  }
}
