@import "../../../styles/variables";
@import "../../../styles/mixins";

.label {
  display: block;
  position: relative;
  left: 0.5rem;
  color: $color-primary-800;
  span {
    color: $color-primary-700;
  }
}
// Input, textarea, select etc.
.input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: $main-border-radius;
  outline: 0;
  border: 0;
  margin-bottom: 1rem;
  box-shadow: button-shadow(4px);
  background-color: $color-gray-000;

  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;

  &:hover {
    box-shadow: button-shadow(2px);
    transform: translateY(2px);
  }
  &:focus {
    box-shadow: button-shadow(0px);
    transform: translateY(4px);
  }
}
textarea.input {
  resize: vertical;
  min-height: 2rem;
  max-width: 100%;
}
