@import "../../../styles/variables";

.socialRow {
  .socialLink + .socialLink {
    margin-left: 0.5rem;
  }
  .socialLink {
    color: inherit;
    svg {
      width: 24px;
      fill: $color-gray-000;
    }
  }
}
