@import "../../../styles/variables";

.footer {
  height: var(--footer-height);
  padding: 1rem 5% 2rem;
  color: white;
  background-color: $color-primary-600;
  @media screen and (min-width: 500px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    > * {
      margin: 0;
    }
  }
}
